.food-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
  opacity: 1;
}
.food-modal-deactivate {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.contModal, .moreInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  background-color: white;
  z-index: 2;
  max-height: 600px;
  overflow-y: auto;
  transform: translate(-50%, -50%)    !important;
  margin: 0;
  min-width: 300px;
  visibility: visible;
  opacity: 1;
  transition: .2s all linear;
}
.moreInfo {
  padding: 20px;
}
.moreInfo-close {
  opacity: 0;
  visibility: hidden;
}
.contModal-close {
  opacity: 0;
  visibility: hidden;
}
.cross {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bold;
  font-size: 20px;
}
.mainPanel {
  width: 100%;
}
.bigText {
  font-size: 27px;
  font-weight: 600;
}
.foodList {
  border: 1px solid black;
  padding: 0;
  overflow: auto;
  margin: 0;
  & li{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
.foodListDb {
  height: 180px;
}
.foodListUser {
  height: 262px;
}
.chart {

}
.buttons {
  width: 100%;
}



@media(max-width: 992px) {
  .contModal {
  max-height: 500px;
  }
}

@media(max-width: 800px) {
  .bigText {
    font-size: 22px;
  }
}
