// PROGRESS BARS

.basicStat {
  position: fixed;
  bottom: 0;
  height: 40px;
  line-height: 25px;
  width: 100%;
  border-top: 3px solid #c9c9c9;
  background-color: #dedede;
  font-family: 'Libre Baskerville', serif;
}

.barName {
  letter-spacing: 1px;
}

.barValue {
  font-size: 14px;
}

.part {
  width: 25%;
  height: 100%;
  display: inline-block;
  padding: 0 20px;
}

// FOOD PANEL - DATE
.containerForTimeline {
  overflow: hidden;
}
.basicInfoTimeline {
  text-align: center;


  & .basicInfoTimeline-text {
    position: relative;
    display: block;
    margin-top: 50px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;

  }

  & .basicInfoTimeline-text1 {
    font-size: 30px;
    color: black;
    display: block;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
  }
}

// DATE
.datePanel {
  margin-top: 50px;
  font-family: 'Libre Baskerville', serif;
  padding: 0;
}

.datePanel-day {
  display: inline-block;
  width: 80px;
  text-align: center;
  cursor: pointer;

  &:hover .datePanel-date {
    opacity: 0;
    line-height: 1px;
  }

  &:hover .datePanel-name {
    line-height: 45px;
    transform: scale(1.3);
  }
}

.datePanel-date, .datePanel-name {
  display: block;
  line-height: 25px;
  transition: .2s all linear;
}

.datePanel-date {
  font-size: 22px;
}

.datePanel-name {
  font-size: 12px;
}

.arrow {
  line-height: 40px;
  cursor: pointer;
}

// WATER FOOD STAT ETC.
.menuTimeline {
  font-family: 'Libre Baskerville', serif;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  font-size: 12px;
  text-align: center;
}

.optionTimeline {
  display: inline-block;
}

.linkTimeline {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  cursor: pointer;
}
// STATS

.containerForStats {
  overflow: hidden;
  display: none;
}
.containerForStats--open {
  animation: showMePanel .3s linear forwards;
}

// TRAINING

.containerForTraining {
  overflow: hidden;
  display: none;
}
.containerForTraining--open {
  animation: showMePanel .3s linear forwards;
}
// MEALS
.containerForMeals {
  overflow: hidden;
  display: none;
}
.containerForMeals--open {
  animation: showMePanel .3s linear forwards;
}

.boxForTimeline {
  font-family: "Libre Baskerville", serif;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
}
.infoTimeline {
  background-color: white;
}
.imageMeal-breakfast {
  position: relative;
  height: 200px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
  ), url("src/assets/pictures-meal/breakfast.jpg") no-repeat center center;
  background-size: cover;
}
.boxForTimeline:hover .imageTimeline-zoom{
    transition: linear transform 0.3s;
    transform: scale(1.2);
}
.imageMeal-sec {
  height: 200px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
  ), url("src/assets/pictures-meal/breakfastII.jpg") no-repeat center center;
  background-size: cover;
}
.imageMeal-din {
  height: 200px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
  ), url("src/assets/pictures-meal/dinner.jpg") no-repeat center center;
  background-size: cover;
}
.imageMeal-br {
  height: 200px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
  ), url("src/assets/pictures-meal/iv.jpg") no-repeat center center;
  background-size: cover;
}
.imageMeal-sup {
   height: 200px;
   background: linear-gradient(
       rgba(0, 0, 0, 0.5),
       rgba(0, 0, 0, 0.5)
   ), url("src/assets/pictures-meal/supper.jpg") no-repeat center center;
   background-size: cover;
 }
.imageMeal-add {
  height: 200px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
  ), url("src/assets/pictures-meal/additionalMeal.jpg") no-repeat center center;
  background-size: cover;
}

.headingTimeline {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: 20px;
  display: block;
  padding: 5px 0;
  margin-bottom: 10px;
}
.basicInfoTimeline {
  display: block;
  font-size: 13px;
  bottom: 0;
}

.basicInfoTimeline-macro {
  cursor: pointer;
}
.basicInfoTimeline-kcal {
}
.otherInfo {
 margin-top: 10px;
}

.addExerciseButton {
  border-radius: 100%;
  position: relative;
  height: 50px;
  width: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  transition: .4s linear;
  &:after{
    content: '';
    position: absolute;
    height: 25px;
    width: 5px;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  &:before{
    content: '';
    position: absolute;
    height: 5px;
    width: 25px;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}
.addExerciseButton:hover {
  transform: rotate(360deg);
}
.loading-spinner {
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
@keyframes showMePanel {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes closePanel {

}
// MEDIAS
@media(max-width: 1250px) {
  .timeline-heading {
    height: 175px;
    background-color: #373737;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .navigation {
    height: 100px;
  }
  .naviagtion-title {
    height: 75px;
    padding-top: 10px;
    letter-spacing: 1px;
    width: 100vw;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  .basicInfoTimeline {
    & .basicInfoTimeline-text {
      font-size: 15px;

      &:after {
        width: 110px;
      }
    }

    & .basicInfoTimeline-text1 {
      font-size: 20px;
    }
  }

}

@media(max-width: 400px) {
  .part {
    padding: 0 5px;
  }
  .barName {
    font-size: 10px;
  }
}

@media(max-width: 500px) {
  .part {
    padding: 0 5px;
  }
  .barName {
    font-size: 12px;
  }
}
