<!--<app-navb></app-navb>-->
<!--
      NAV AND TITLE
    -->

<!--<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">-->


<div class="containerForSettings">
  <div class="settings-heading">
    <div class="navigation">
      <app-navb></app-navb>
      <div class="naviagtion-title">
        UŻYTKOWNIK
      </div>
    </div>
  </div>
  <div class=" container-fluid boxSettings">
    <!--
      TEXT BEFORE DATE
    -->
    <div class="row basicInfoSettings">
      <span class="col-12 basicInfoSettings-text mb-5">USTAWIENIA PERSONALNE</span>
    </div>

    <div class="row contForCards">
      <div *ngFor="let element of settings;" class="col-xl-3 col-sm-6 col-12 ">
        <div class="card colAnim" (click)="openModal(element.name.toLowerCase())">
          <div class="card-content ">
            <div class="card-body card-body-extra">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="{{element.class_icon}} iAnim"></i>
                </div>
                <div class="media-body text-right">
                  <h3 style="font-weight: bold">{{element.name_value}}</h3>
                  <span style="color: #606060; font-weight: bold">{{element.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row basicInfoSettings">
      <span class="col-12 basicInfoSettings-text mb-5">INFORMACJE O DIECIE</span>
    </div>

    <div class="row contForCards">
      <div *ngFor="let element of dietInfo;" class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content ">
            <div class="card-body card-body-extra">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="{{element.class_icon}}"></i>
                </div>
                <div class="media-body text-right">
                  <h3 style="font-weight: bold">{{element.name_value}}</h3>
                  <span style="color: #606060; font-weight: bold">{{element.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row basicInfoSettings">
      <span class="col-12 basicInfoSettings-text mb-5">OSIĄGNIĘCIA</span>
    </div>

    <div class="row contForCards">
      <div *ngFor="let element of achievements;" class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content ">
            <div [ngClass]="{'blocked' : !element.unblock}" class="card-body card-body-extra {{element.color_gradient}}">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="{{element.class_icon}}"></i>
                </div>
                <div class="media-body text-right">
                  <h3 style="font-weight: bold;">{{element.name_value}}</h3>
                  <span style="color: #606060; font-weight: bold">{{element.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FORMS -->
<div *ngIf="modalOpen" class="componentModalSetting">
  <div class="row justify-content-center">
    <div class="col-md-6 col-11 windowModal">
      <div class="crossLine">
        <div class="cross">
          <i (click)="closeModal()" class="fas fa-times" style="cursor: pointer;"></i>
        </div>
      </div>
      <div class="titleModal-big text-center">
        USTAWIENIA
      </div>

      <div class="titleModal-small text-center">
        ZMIEŃ NICK
      </div>
      <!--
      NICK FORM
      -->
      <form *ngIf="changeValue === 'nick'" [formGroup]="newValue" (ngSubmit)="onSubmit()">
        <input formControlName="newValue" type="text" class="form-control input-new-value" placeholder="wprowadź nowy nick...">
        <button type="submit" class="btn btn-dark btn-new-value">ZMIEŃ</button>
      </form>
      <!--
      WEIGHT FORM
      -->
      <form *ngIf="changeValue === 'waga'" [formGroup]="newValue" (ngSubmit)="onSubmit()">
        <input formControlName="newValue" type="number" min="20" max="300" class="form-control input-new-value" placeholder="wprowadź nową wagę...">
        <button type="submit" class="btn btn-dark btn-new-value">ZMIEŃ</button>
      </form>
      <!--
      LANGUAGE FORM
      -->
      <form *ngIf="changeValue === 'język'" [formGroup]="newValueLanguage" (ngSubmit)="onSubmitLanguage()">
        <div class="form-check">
          <input formControlName="polish" class="form-check-input" type="radio" name="polish" id="language1" value="pl" checked>
          <label  class="form-check-label" for="language1">
            Polski
          </label>
        </div>
        <div class="form-check">
          <input formControlName="english" class="form-check-input" type="radio" name="english" id="language2" value="en">
          <label  class="form-check-label" for="language2">
            English
          </label>
        </div>
        <button type="submit" class="btn btn-dark btn-new-value">ZMIEŃ</button>
      </form>
    </div>
  </div>
</div>
