<!--<app-navb></app-navb>-->
<!--
      NAV AND TITLE
    -->
<div class="containerForSettings">
  <div class="settings-heading">
    <div class="navigation">
      <app-navb></app-navb>
      <div class="naviagtion-title">
        USTAWIENIA
      </div>
    </div>
  </div>
  <div class=" container-fluid boxSettings">
    <!--
      TEXT BEFORE DATE
    -->
    <div class="row basicInfoSettings">
      <span class="col-12 basicInfoSettings-text">WYBIERZ DATĘ</span>
      <span class="col-12 basicInfoSettings-text1">PANEL ODŻYWIANIA</span>
    </div>
  </div>
</div>

