<div class="containerForSettings">
  <app-navb [navImage]='"/assets/welcome-page/bg2.jpg"' [category] = '"UŻYTKOWNIK"'></app-navb>
  <div class=" container-fluid boxSettings">
    <!--
      TEXT BEFORE DATE
    -->
    <div class="row basicInfoSettings">
      <span class="col-12 basicInfoSettings-text mb-5">USTAWIENIA PERSONALNE</span>
    </div>

    <div class="row contForCards ">
      <div *ngFor="let element of settings;" class="col-xl-3 col-sm-6 col-12 ">
        <div class="card colAnim" (click)="openModal(element)">
          <div class="card-content ">
            <div class="card-body card-body-extra">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="{{element.class_icon}} iAnim"></i>
                </div>
                <div class="media-body text-right">
                  <h3 style="font-weight: bold">{{element.name_value}}</h3>
                  <span style="color: #606060; font-weight: bold">{{element.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row basicInfoSettings">
      <span class="col-12 basicInfoSettings-text mb-5">INFORMACJE O DIECIE</span>
    </div>

    <div class="row contForCards ">
      <div *ngFor="let element of dietInfo;" class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content ">
            <div class="card-body card-body-extra">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="{{element.class_icon}}"></i>
                </div>
                <div class="media-body text-right">
                  <h3 style="font-weight: bold">{{element.name_value}}</h3>
                  <span style="color: #606060; font-weight: bold">{{element.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row basicInfoSettings">
      <span class="col-12 basicInfoSettings-text mb-5">ABY OSIĄGNĄĆ CEL</span>
    </div>
    <div class="row contForCards ">
      <div *ngFor="let goElem of goal;" class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content ">
            <div class="card-body card-body-extra">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="{{goElem.class_icon}}"></i>
                </div>
                <div class="media-body text-right">
                  <h3 style="font-weight: bold">{{goElem.name_value}}</h3>
                  <span style="color: #606060; font-weight: bold">{{goElem.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row basicInfoSettings">
      <span class="col-12 basicInfoSettings-text mb-5">OSIĄGNIĘCIA</span>
    </div>

    <div class="row contForCards">
      <div *ngFor="let element of achievements;" class="col-xl-3 col-sm-6 col-12">
        <div class="card">
          <div class="card-content ">
            <div [ngClass]="{'blocked' : !element.unblock}" class="card-body card-body-extra {{element.color_gradient}}">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="{{element.class_icon}}"></i>
                </div>
                <div class="media-body text-right">
                  <h3 style="font-weight: bold;">{{element.name_value}}</h3>
                  <span style="color: #606060; font-weight: bold">{{element.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FORMS -->
<div *ngIf="modalOpen" class="componentModalSetting">
  <div class="row justify-content-center">
    <div class="col-md-6 col-11 windowModal">
      <div class="crossLine">
        <div class="cross">
          <i (click)="closeModal()" class="fas fa-times" style="cursor: pointer;"></i>
        </div>
      </div>
      <div class="titleModal-big text-center">
        USTAWIENIA
      </div>

      <div class="titleModal-small text-center">
        ZMIEŃ {{curElement.name | uppercase}}
      </div>
      <!--
      NICK FORM
      -->
      <form *ngIf="changeValue === 'text'" [formGroup]="newValue" (ngSubmit)="onSubmit()">
        <input formControlName="newValue" type="text" class="form-control input-new-value" placeholder="wprowadź nowy nick...">
        <button type="submit" class="btn btn-dark btn-new-value">ZMIEŃ</button>
      </form>
      <!--
      WEIGHT FORM
      -->
      <form *ngIf="changeValue === 'number'" [formGroup]="newValue" (ngSubmit)="onSubmit()">
        <input formControlName="newValue" type="number" min="20" max="300" class="form-control input-new-value" placeholder="wprowadź {{curElement.name | lowercase}}...">
        <button type="submit" class="btn btn-dark btn-new-value">ZMIEŃ</button>
      </form>
      <!--
      Select FORM
      -->
      <form *ngIf="changeValue === 'select' && curElement.dbName !== 'physicalActivity'" [formGroup]="newValueLanguage" (ngSubmit)="onSubmitSelect(select)">
        <div class="form-group">
          <label for="exampleFormControlSelect1"></label>
          <select #select class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let option of curElement.options_value" [value]="option">{{option}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-dark btn-new-value">ZMIEŃ</button>
      </form>

      <form *ngIf="changeValue === 'select' && curElement.dbName === 'physicalActivity'" [formGroup]="newValueLanguage" (ngSubmit)="onSubmitSelect(select)">
        <div class="form-group">
          <label for="psych"></label>
          <select #select class="form-control" id="psych">
            <option *ngFor="let option of curElement.options_value" [value]="option.value">{{option.name}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-dark btn-new-value">ZMIEŃ</button>
      </form>
    </div>
  </div>
</div>
