nav {
  height: 60px;
  width: 100vw;
  background-color: rgb(28, 30, 32);
  position: relative;
}

@mixin navFeatures {
  position: absolute;
  height: 100%;
  border: white 1px solid;
}

.logo {
  @include navFeatures;

  color: white;
  left: 0;
  top: 0;
  width: 25%;
}

.smallPanel {
  @include navFeatures;

  left: 25%;
  top: 0;
  width: 40%;
}

.accountPanel {
  @include navFeatures;

  left: 65%;
  top: 0;
  width: 20%;
  text-align: center;
}

.optionsPanel {
  @include navFeatures;

  left: 85%;
  top: 0;
  width: 15%;
  text-align: right;
}

// logo settings

.logo_img {
  height: 50px;
  width: 50px;
  margin-top: 5px;
  margin-left: 20px;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    transition: all .3s linear;
    transform: rotate(360deg);
  }
}

// account Panel settings

.pictureButton {
  display: inline-block;
  //border: red 1px solid;
  border-radius: 20px;
  padding-left: 3px;
  padding-right: 10px;
  margin: 15px 5px;
  text-align: left;
  color: white;
  line-height: 60px;
  max-width: 150px;
  cursor: pointer;
  overflow: hidden;
  background-color: rgb(70, 72, 73);

  .accountImage {
    left: 20px;
    height: 28px;
    width: 28px;
    float: left;
    line-height: 28px;
    border-radius: 50%;
    background-color: white;
  }

  .accountName {
    line-height: 28px;
    margin-left: 35px;
    opacity: 1;
  }

  .text-profil {
    visibility: hidden;
    line-height: 28px;
    left: 10px;
    opacity: 0;
    position: absolute;
  }
}

.pictureButton:hover .accountImage {
  transition: linear all 0.3s, opacity linear .2s;
  position: absolute;
  left: 160px;
  opacity: 0;
}

.pictureButton:hover .accountName {
  transition: linear all 0.1s;
  opacity: 0;
  visibility: hidden;
}

.pictureButton:hover .text-profil {
  transition: linear all 0.2s;
  letter-spacing: 1px;
  left: 50%;
  transform: translateX(-50%);
  visibility: visible;
  opacity: 1;
}

.basic-img-user {
  margin-bottom: 5px;
}

// options panel settings

.newsOptions, .messageOptions, .settingOptions, .sidebarOptions {
  display: inline-block;
  line-height: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
  margin: 10px 10px;
  color: white;
  border-radius: 50%;
  background-color: rgb(70, 72, 73);
  cursor: pointer;
  transition: .2s linear all;

  &:hover {
    background-color: rgb(97, 99, 100);
  }
}

.settingOptions svg, .messageOptions svg, .newsOptions svg {
  margin-bottom: 5px;
}

.settingOptions:hover svg {
  animation: settingsMove infinite linear 0.5s;
}

.messageOptions:hover svg, .newsOptions:hover svg {
  animation: bubble infinite linear 1s;
}

// options setting - hamburger
.sidebarOptions {
  background-color: transparent;
  position: relative;
  height: 25px;
  width: 30px;
  margin-top: 0;
  top: 7px;

  &:hover {
    background-color: transparent;
  }
}

@mixin hamb {
  position: absolute;
  left: 50%;
  background-color: rgb(121, 124, 125);
  width: 100%;
  height: 3px;
  transition: all linear 0.3s, opacity linear 0.2s;
}

.hamburger-bottom {
  @include hamb;

  bottom: 0px;
  transform: translate(-50%, 0%);
}

.hamburger-middle {
  @include hamb;

  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hamburger-top {
  @include hamb;

  top: 1px;
  transform: translate(-50%, 0%);
}

.hamburger-top--open {
  transform: translate(-50%, 11px) rotate(45deg);
  background-color: white;
}
.hamburger-bottom--open {
  transform: translate(-50%, -10px) rotate(-45deg);
  background-color: white;
}
.hamburger-middle--open {
  visibility: hidden;
  opacity: 0;
}
// animations - features options

@keyframes settingsMove {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(365deg);
  }
}

@keyframes bubble {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1);
  }
}
