.containerChart {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
}

.chart {
  position: absolute;
  width: 50%;
  left: 50%;
  padding: 0 10px;
  transform: translate(-50%,0);
}
.text-statistics {
  display: block;
  text-align: center;
  font-weight: bold;
}
.h-text {
  font-size: 24px;
}
.d-text {
  font-size: 20px;
}
.animal-fats {
  display: block;
}
.pdf {
  display: block;
  margin: 0 auto;
}
.macro {
  margin-top: 30px;
}
@media(max-width: 1000px) {
  .chart {
    width: 100%;
  }
}

