.basicInfoBMI {
  text-align: center;


  & .basicInfoBMI-text {
    position: relative;
    margin-top: 50px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;

  }

  & .basicInfoBMI-text1 {
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
  }
}

.contForBMIForm {
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

.infoBMI {
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.75);
  padding: 20px 40px;
  margin-top: 30px;
}

.contForInfoBMI {

}

.infoBMI-header {
  font-size: 20px;
  margin-bottom: 5px;
}

.progressIcon {
  display: block;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  line-height: 42px;
  border-radius: 50%;
  border: 3px solid black;

  & svg {
  }
}

.bmiScore {
  height: auto;
  transform: scale(0);
  animation: bmi-animation linear .3s forwards;
}

@keyframes bmi-animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

// medias

@media(max-width: 1250px) {
  .basicInfoBMI {
    & .basicInfoBMI-text {
      font-size: 15px;

      &:after {
        width: 110px;
      }
    }

    & .basicInfoBMI-text1 {
      font-size: 20px;
    }
  }

}
