<!--
      NAV AND TITLE
    -->
<div class="containerForBMI overflow-hidden">
  <div class="bmi-heading">
    <div class="navigation">
      <app-navb></app-navb>
      <div class="naviagtion-title">
        BMI
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <!--
      TEXT BEFORE DATE
    -->
    <div class="row basicInfoBMI">
      <span class="col-12 basicInfoBMI-text">WPROWADŹ DANE</span>
      <span class="col-12 basicInfoBMI-text1">BODY MASS INDEX</span>
    </div>
    <!--
      FORM
    -->
    <div class="col-12 d-flex justify-content-center ">
      <div class="infoBMI">
        <div class="progressIcon">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
               x="0px" y="0px" width="30px" height="30px" viewBox="0 0 57.288 122.88"
               enable-background="new 0 0 57.288 122.88" xml:space="preserve"><g><path fill-rule="evenodd" clip-rule="evenodd" d="M32.499,0c4.436,0,7.926,1.281,10.468,3.819c2.515,2.53,3.785,6.007,3.785,10.481 c0,4.538-2.163,8.572-6.521,12.11c-4.381,3.538-9.463,5.318-15.254,5.318c-4.352,0-7.812-1.218-10.465-3.66 c-2.651-2.47-3.976-5.665-3.976-9.639c0-5.007,2.163-9.322,6.465-12.987C21.301,1.816,26.465,0,32.499,0L32.499,0z M57.288,122.88 H0v-9.64h10.765V54.36H0v-7.674h26.775c6.763,0,13.418-0.812,19.992-2.47v69.024h10.521V122.88L57.288,122.88z"/></g></svg>
        </div>
        <p class="infoBMI-header text-center"><b>Zakres BMI</b></p>
        <div class="dataBMI">
          <b>< 16</b> - wygłodzenie <br>
          <b>16 - 16.99 </b>- wychudzenie <br>
          <b>17 - 18.49 </b>- niedowaga <br>
          <b>18.5 - 24.99 </b>- wartość prawidłowa <br>
          <b>25 - 29.99 </b>- nadwaga <br>
          <b>30 - 34.99</b> - I stopień otyłości <br>
          <b>35 - 39.99 </b>- II stopień otyłości <br>
          <b>> 40</b> - otyłość skrajna <br>
        </div>
      </div>
    </div>
    <div *ngIf="bmi >= 18.5 && bmi < 25 && bmi !== null" class="mt-2 bmiScore col-12 text-center">
      <hr style="width: 80%">
      <h5 class="">Twoje BMI jest w normie!</h5>
      <i class=" far fa-check-circle fa-3x" style="color: #1c9112"></i>
      <h5>Dobra robota!</h5>
      <span>Twoje BMI wynosi <b>{{bmi}}</b> i mieści się w odpowiednim przedziale 18.5 - 24.99. <br> Byle tak dalej <i
        class="far fa-smile-beam"></i>!</span>
      <hr style="width: 50%">
    </div>
    <div *ngIf="bmi >= 25 && bmi !== null" class="mt-2 bmiScore col-12 text-center">
      <hr style="width: 80%">
      <h5 class="d-block">Twoje BMI jest powyżej normy!</h5>
      <i class="far fa-times-circle fa-3x" style="color: #dd0101"></i>
      <h5 *ngIf="bmi>=25 && bmi < 30">Masz nadwagę!</h5>
      <h5 *ngIf="bmi >= 30">Masz otyłość!</h5>
      <span>Twoje BMI wynosi <b>{{bmi}}</b> i nie mieści się w odpowiednim przedziale 18.5 - 24.99. <br> Zmień nawyki żywieniowe <i
        class="far fa-frown-open"></i>!</span>
      <hr style="width: 50%">
    </div>
    <div *ngIf="bmi < 18.5 && bmi !== null" class="mt-2 bmiScore col-12 text-center">
      <hr style="width: 80%">
      <h5 class="d-block">Twoje BMI jest poniżej normy!</h5>
      <i class="far fa-times-circle fa-3x" style="color: #dd0101"></i>
      <h5>Masz niedowagę!</h5>
      <span>Twoje BMI wynosi <b>{{bmi}}</b> i nie mieści się w odpowiednim przedziale 18.5 - 24.99. <br> Zmień nawyki żywieniowe <i
        class="far fa-frown-open"></i>!</span>
      <hr style="width: 50%">
    </div>
    <div *ngIf="bmi === null" class="mt-2 bmiScore col-12 text-center">
      <hr style="width: 80%">
      <h5 class="d-block">Sprawdź swoje BMI!</h5>
      <i class="far fa-question-circle fa-3x"></i>
      <h5 >Wpisz dane!</h5>
      <span>Następnie sprawdz czy mieścisz się w odpowiednim<br>przedziale <em>18.5 - 24.99</em>. </span>
      <hr style="width: 50%">
    </div>
    <form [formGroup]="bmiForm" (ngSubmit)="onSubmit()" class="col-md-6 col-12 contForBMIForm mt-5">
      <div class="form-group row text-center">
        <label for="weight" class="col-lg-4 col-form-label">Waga [kg]</label>
        <div class="col-lg-6">
          <input formControlName="weight" type="number" class="form-control" id="weight" placeholder="80">
        </div>
      </div>
      <div class="form-group row text-center">
        <label for="height" class="col-lg-4 col-form-label">Wzrost [cm]</label>
        <div class="col-lg-6">
          <input formControlName="height" type="number" class="form-control" id="height" placeholder="170">
        </div>
      </div>
      <fieldset class="form-group">
        <div class="row">
          <div class="col-form-label col-lg-4 pt-0 text-center">Płeć</div>
          <div class="col-lg-8">
            <div class="form-check">
              <input (click)="changeOtherCheckbox('woman')" formControlName="woman" class="form-check-input"
                     type="checkbox" id="gridRadios1" value="true">
              <label class="form-check-label" for="gridRadios1">
                Kobieta
              </label>
            </div>
            <div class="form-check">
              <input (click)="changeOtherCheckbox('man')" formControlName="man" class="form-check-input" type="checkbox"
                     id="gridRadios2" value="true">
              <label class="form-check-label" for="gridRadios2">
                Mężczyzna
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-group row justify-content-center">
        <div class="col-lg-12 text-center">
          <button type="submit" class="btn btn-dark" [disabled]="!bmiForm.valid">Sprawdź</button>
          <button *ngIf="user" (click)="loadUserValue()" type="button" class="btn btn-dark ml-2">Użyj danych z profilu</button>
        </div>
      </div>
    </form>
  </div>
</div>
