<p class="textTable text-center mt-4 mb-4">Godzinowy rozkład ćwiczeń użytkownika</p>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Godzina</th>
    <th scope="col">Trening</th>
    <th scope="col">Spalone Kcal</th>
    <th scope="col">Opcje</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let training of trainings; index as i">
    <th scope="row">{{ training.hour }}:00</th>
    <td>
      <p (click)="showMoreInfo(training)" *ngFor="let train of training.training">
        {{train}}
      </p>
    </td>
    <td>{{ training.burnKcal | number }}</td>
    <td>Dodaj</td>
  </tr>
  </tbody>
</table>
