.admin-panel {
  overflow: hidden;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
}
.nav {
  background-color: black;
  height: 100px;
  width: 100%;
}
.container-food {

}
.food {
  margin: 0 auto;
}
