<div class="container-fluid admin-panel">
  <ng-template #contentExercise let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Dodaj ćwiczenie</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]='exerciseForm' (ngSubmit)="onSubmitExercise()">
        <div class="form-group">
          <label for="nameExercise" >Nazwa (EN)</label>
          <input type="text" class="form-control" id="nameExercise" formControlName="name">
        </div>
        <div class="form-group">
          <label for="nameExercisePl" >Nazwa (PL)</label>
          <input type="text" class="form-control" id="nameExercisePl" formControlName="namePL">
        </div>
        <div class="form-group">
          <label for="type">Typ ćwiczenia</label>
          <select class="form-control" id="type" formControlName="type">
            <option value="cardio">Cardio</option>
            <option value="weight">Siłowe</option>
          </select>
        </div>
        <div class="form-group">
          <label for="description" >Opis ćwiczenia (EN):</label>
          <textarea name="description" id="description" formControlName="description" cols="30" rows="2"></textarea>
        </div>
        <div class="form-group">
          <label for="descriptionPl" >Opis ćwiczenia (PL):</label>
          <textarea name="description" id="descriptionPl" formControlName="descriptionPL" cols="30" rows="2"></textarea>
        </div>
        <div class="form-group">
          <label for="musclePart">Typ ćwiczenia</label>
          <select class="form-control" id="musclePart" formControlName="musclePart">
            <option value="biceps">Biceps</option>
            <option value="triceps">Triceps</option>
            <option value="cardio">Cardio</option>
            <option value="back">Plecy</option>
            <option value="legs">Nogi</option>
            <option value="chest">Klatka piersiowa</option>
          </select>
        </div>
          <div class="col-7  form-group image">
            <label class="panel-text">Zdjęcie</label>
            <div class="">
              <input type="file" class="custom-file-input" id="image" formControlName="image" (change)="onFileSelected($event)">
              <label class="custom-file-label" for="image">Wybierz</label>
            </div>
          </div>
        <div class="form-group">
          <label for="musclePart">Poziom zaawansowania</label>
          <select class="form-control" id="difficult" formControlName="difficult">
            <option value="0">Łatwy</option>
            <option value="1">Średni</option>
            <option value="2">Trudny</option>
          </select>
        </div>
        <div class="form-group">
          <label for="kcalRatio" >Współczynnik ćwiczenia</label>
          <input type="number" class="form-control" id="kcalRatio" formControlName="kcalRatio">
        </div>
        <button type="submit" class="btn btn-light login" [disabled]="exerciseForm.invalid">Dodaj</button>
      </form>
    </div>
  </ng-template>
  <ng-template #contentMeals let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Dodaj posiłek</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]='mealForm' (ngSubmit)="onSubmitMeal()">
        <div class="form-group">
          <label for="name" >Nazwa (PL)</label>
          <input type="text" class="form-control" id="name" formControlName="namePL">
        </div>
        <div class="form-group">
          <label for="nameEN" >Nazwa (EN)</label>
          <input type="text" class="form-control" id="nameEN" formControlName="name">
        </div>
        <div class="form-group">
          <label for="oneServing" >Dane dla porcji:</label>
          <input type="number" class="form-control" id="oneServing" formControlName="oneServing">
        </div>
        <div class="form-group">
          <label for="kcal" >Kalorie</label>
          <input type="number" class="form-control" id="kcal" formControlName="kcal">
        </div>
        <div class="form-group">
          <label for="proteins" >Białko</label>
          <input type="number" class="form-control" id="proteins" formControlName="proteins">
        </div>
        <div class="form-group">
          <label for="carbs" >Węgle</label>
          <input type="number" class="form-control" id="carbs" formControlName="carbs">
        </div>
        <div class="form-group">
          <label for="fats" >Tłuszcze</label>
          <input type="number" class="form-control" id="fats" formControlName="fats">
        </div>
        <div class="form-group">
          <label for="salt" >Sól</label>
          <input type="number" class="form-control" id="salt" formControlName="salt">
        </div>
        <div class="form-group">
          <label for="fiber" >Błonnik</label>
          <input type="number" class="form-control" id="fiber" formControlName="fiber">
        </div>
        <button type="submit" class="btn btn-light login" [disabled]="mealForm.invalid">Dodaj</button>
      </form>
    </div>
  </ng-template>
  <app-navb [navImage]='"/assets/welcome-page/bg2.jpg"' [category]='"ADMIN PANEL"'></app-navb>
  <!--uzytkownicy-->
  <div class="users-panel text-center" style="margin-top: 30px">
    <h2 class="">LISTA UŻYTKOWNIKÓW</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nick</th>
        <th scope="col">Email</th>
        <th scope="col">Waga</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of usersPadding; let i = index;">
        <th scope="row">{{ userPage * 5 + i + 1 }}</th>
        <td>
          <b *ngIf="user.nick !== ''">{{ user.nick }}</b>
          <b *ngIf="user.nick === ''">Brak</b>
        </td>
        <td>
          <b>{{user.email}}</b>
        </td>
        <td><b>{{user.weight}}</b></td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group mb-3" role="group" aria-label="Basic example">
      <button (click)="nextUser(false)" type="button" class="btn btn-dark">Cofnij</button>
      <button type="button" class="btn btn-dark">{{userPage + 1}}</button>
      <button (click)="nextUser(true)" type="button" class="btn btn-dark">Dalej</button>
    </div>
  </div>
  <!--cwiczenia-->
  <div class="exercises-panel text-center mt-3" style="margin: 0 auto;">
    <h2 class="" >LISTA ĆWICZEŃ</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Zaawansowanie</th>
        <th scope="col">Usuń</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let exercise of exercisesPadding; let i = index;">
        <th scope="row">{{ exercisePage * 5 + i + 1 }}</th>
        <td>
          <b>{{ exercise.name }}</b>
        </td>
        <td>
          <b *ngIf="exercise.difficult === 0">Proste</b>
          <b *ngIf="exercise.difficult === 1">Średnie</b>
          <b *ngIf="exercise.difficult === 2">Trudne</b>
        </td>
        <td><input #inputExe type="checkbox" value="{{exercise.delete}}" (change)="allExercises[exercisePage * 5 + i].delete =inputExe.value"></td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group mb-3" role="group" aria-label="Basic example">
      <button (click)="openSm(contentExercise)" class="btn btn-dark add-meals">Dodaj</button>
      <button class="btn btn-dark add-meals ">Usun</button>
      <button (click)="nextExercises(false)" type="button" class="btn btn-dark">Cofnij</button>
      <button type="button" class="btn btn-dark">{{exercisePage + 1}}</button>
      <button (click)="nextExercises(true)" type="button" class="btn btn-dark">Dalej</button>
    </div>
  </div>
  <!--posilki-->
  <div class="meals-panel text-center mt-3" style="margin: 0 auto;">
    <h2 class="" >LISTA POSIŁKÓW</h2>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Kcal</th>
        <th scope="col">Usuń</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let meal of mealsPadding; let i = index;">
        <th scope="row">{{ mealPage * 5 + i + 1 }}</th>
        <td>
          <b>{{ meal.name }}</b>
        </td>
        <td><b>{{ meal.kcal | number }}/{{meal.oneServing}}g</b></td>
        <td><input #inputMeal type="checkbox" value="{{meal.delete}}" (change)="allMeals[mealPage * 5 + i].delete =inputMeal.value"></td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group mb-3" role="group" aria-label="Basic example">
      <button (click)="openSm(contentMeals)" class="btn btn-dark add-meals">Dodaj</button>
      <button class="btn btn-dark add-meals ">Usun</button>
      <button (click)="nextMeals(false)" type="button" class="btn btn-dark">Cofnij</button>
      <button type="button" class="btn btn-dark">1</button>
      <button (click)="nextMeals(true)" type="button" class="btn btn-dark">Dalej</button>
    </div>
    <div class="button-group">

    </div>
  </div>
</div>
