
.basicInfoBMI {
  text-align: center;


  & .basicInfoBMI-text {
    position: relative;
    margin-top: 50px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;

  }

  & .basicInfoBMI-text1 {
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
  }
}
.contForBMIForm {
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}
.infoBMI {
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
  box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
  padding: 10px 40px;
  margin-top: 30px;
}
.contForInfoBMI {

}
.infoBMI-header {
  font-size: 20px;
  margin-bottom: 5px;
}
.progressIcon{
  display: block;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  line-height: 42px;
  border-radius: 50%;
  border: 3px solid black;
  & svg {
  }
}
.outputs {
  margin: 10px auto;
}
.boxCity {
  padding: 10px 0;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.75);
  font-family: 'Libre Baskerville', serif;
  & h5{
    margin: 0;
    font-weight: bold;
  }
  & small{
    margin: 5px 0;
  }
  & .airStatus {
    font-weight: bold;
  }
}
.infoEmptyString {
  text-align: center;
  font-weight: bold;
}
.pagination {
  margin: 0;
  padding: 0;
}
.shortInfo {
  font-size: 14px;

}
// medias

@media(max-width: 1250px) {
  .bmi-heading {
    height: 175px;
    background-color: #373737;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .navigation {
    height: 100px;
  }
  .naviagtion-title {
    height: 75px;
    padding-top: 10px;
    letter-spacing: 1px;
    width: 100vw;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  .basicInfoBMI {
    & .basicInfoBMI-text {
      font-size: 15px;
      &:after {
        width: 110px;
      }
    }

    & .basicInfoBMI-text1 {
      font-size: 20px;
    }
  }

}

@media(max-width: 500px) {
  .outputs, .shortInfo {
    padding: 0;
  }
}
