<!--
      NAV AND TITLE
    -->
<div class="containerForBMI overflow-hidden">
  <app-navb [navImage]='"/assets/polution/industry-1752876_1920.png"' [category]='"ZANIECZYSZCZENIA"'></app-navb>
  <div class="container-fluid">
    <!--
      TEXT BEFORE DATE
    -->
    <div class="row basicInfoBMI">
      <span class="col-12 basicInfoBMI-text">SPRAWDŹ SWOJE MIASTO</span>
      <span class="col-12 basicInfoBMI-text1">POWIETRZE W POLSCE</span>
    </div>
    <!--
      FORM
    -->
    <div class="col-12 d-flex justify-content-center">
      <div class="infoBMI text-center">
        <div class="progressIcon">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
               x="0px" y="0px" width="30px" height="30px" viewBox="0 0 57.288 122.88"
               enable-background="new 0 0 57.288 122.88" xml:space="preserve"><g><path fill-rule="evenodd" clip-rule="evenodd" d="M32.499,0c4.436,0,7.926,1.281,10.468,3.819c2.515,2.53,3.785,6.007,3.785,10.481 c0,4.538-2.163,8.572-6.521,12.11c-4.381,3.538-9.463,5.318-15.254,5.318c-4.352,0-7.812-1.218-10.465-3.66 c-2.651-2.47-3.976-5.665-3.976-9.639c0-5.007,2.163-9.322,6.465-12.987C21.301,1.816,26.465,0,32.499,0L32.499,0z M57.288,122.88 H0v-9.64h10.765V54.36H0v-7.674h26.775c6.763,0,13.418-0.812,19.992-2.47v69.024h10.521V122.88L57.288,122.88z"/></g></svg>
        </div>
        <p class="infoBMI-header text-center"><b>Wybierasz się poćwiczyć na świeżym powietrzu?</b></p>
        <div class="dataBMI">
          Sprawdź czy powietrze w Twoim mieście jest odpowiednie. <br> Wprowadź nazwę miasta poniżej
        </div>
      </div>
    </div>
    <form *ngIf="loading" [formGroup]="airForm" (ngSubmit)="onSubmit()"
          class="col-md-6 col-12 contForBMIForm mt-5 text-center">
      <div class="form-group row d-flex justify-content-center">
        <label for="city" class="col-lg-4 col-form-label">Miasto:</label>
        <div class="col-lg-12">
          <input #element (input)="searchCity($event, element)" autocomplete="off" formControlName="city" type="text"
                 class="form-control text-center" id="city" placeholder="Katowice">
        </div>
      </div>
      <div class="form-group row justify-content-center">
      </div>
    </form>
    <div class="d-block text-center font-weight-bold">Wyniki:</div>

    <div *ngIf="!emptyFlag">
      <div class="col-md-6 col-12 mb-2 shortInfo d-flex justify-content-between" style="margin: 0 auto;">
        <div class="d-inline-block"><em>Znaleziono <b>{{filteredStations.length}}</b> stacje.</em></div>
        <div class="d-inline-block"><em>{{page*5+1}}-{{isNext() ? page*5+5 : filteredStations.length}}</em></div>
      </div>
      <div *ngFor="let elem of finalArray" class="col-md-6 col-12 text-center outputs">
        <div class="boxCity card">
          <h5>{{elem.city}}</h5>
          <small> <em>{{elem.address}}</em></small>
          <div class="row ">
            <div class="col-12">{{elem.lastResearch}}</div>
            <div *ngIf="elem.airStatus === 'Bardzo dobry'" class="col-4 airStatus text-success">{{elem.airStatus}}</div>
            <div *ngIf="elem.airStatus === 'Dobry'" class="col-4 airStatus"
                 style="color: #71b83a">{{elem.airStatus}}</div>
            <div *ngIf="elem.airStatus === 'Umiarkowany'" class="col-4 airStatus text-warning">{{elem.airStatus}}</div>
            <div *ngIf="elem.airStatus === 'Dostateczny' || elem.airStatus === 'Zły' || elem.airStatus === 'Bardzo zły'"
                 class="col-4 airStatus text-danger">{{elem.airStatus}}</div>
            <div *ngIf="elem.airStatus === 'Brak danych'" class="col-4 airStatus">{{elem.airStatus}}</div>
            <div class="col-4">{{elem.type}}</div>
            <div class="col-4">ID: {{elem.id}}</div>
          </div>
        </div>
      </div>
      <nav aria-label="...">
        <ul class="pagination justify-content-center">
          <li style="cursor: pointer" [ngClass]="{'disabled' : page === 0}" class="page-item">
            <a (click)="otherPage(false)" class="text-dark page-link" tabindex="-1">Poprzednie</a>
          </li>
          <li class="page-item active">
            <a class="page-link" style="background-color: black; border: gray 1px solid">{{page + 1}}</a>
          </li>
          <li style="cursor: pointer" [ngClass]="{'disabled' : !isNext()}" class="page-item">
            <a (click)="otherPage(true)" class="text-dark page-link">Następne</a>
          </li>
        </ul>
      </nav>
    </div>
    <div *ngIf="emptyFlag" class="infoEmptyString">

      Brak wyników

    </div>
  </div>
</div>
