.container {
  font-family: 'Libre Baskerville', serif;
}
// meal classes
.mealClass {
  font-family: 'Libre Baskerville', serif;
}
.header {
  text-align: center;
  margin: 50px 0;
}
.inputFood {
  width: 70%;
}
.containerForDB {
}
.modal-header, .modal-title, .modal-body {
  font-family: "Roboto Condensed", sans-serif;
}
@media all and (max-width: 400px) {
  table {
    font-size: 12px;
  }
  .btnFir {
    padding: 4px;
    font-size: 12px;
  }
  .btnSec {
    font-size: 14px;
  }
}
@media all and (max-width: 400px) {
  table {
    font-size: 11px;
    th{
      padding: 6px;
    }
  }
  .btnFir {
    padding: 2px;
    font-size: 10px;
  }
  .btnSec {
    font-size: 12px;
  }
}
