<div class="container">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title"><em>{{myMealProp.name}}</em></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="text-center"><b>
        <span>Na 100 g</span> <br>
        Węglowodany: {{myMealProp.carbs | number : '1.2-2'}} g <br>
        Białko: {{myMealProp.proteins | number : '1.2-2'}} g <br>
        Tłuszcze: {{myMealProp.fats | number : '1.2-2'}} g <br>
        Sól: {{myMealProp.salt | number : '1.2-2'}} g <br>
        Błonnik: {{myMealProp.fiber | number : '1.2-2'}} g <br>
      </b>
      </p>

    </div>
  </ng-template>
  <!--  dodawanie posilku -->
  <ng-template #adding let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{myMealProp.name}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Ile gram:</p>
      <input #valueInp type="number">
      <button class="btn btn-dark" (click)="addProduct(adding, valueInp, myMealProp)">Dodaj</button>
    </div>
  </ng-template>
  <!--
    TABLE
  -->
  <div class="row mealClass">
    <div class="col-12">
      <h3 class="header">Spersonalizuj {{nameOfMeal}}</h3>
      <p *ngIf="isThereUser() && meal.length !== 0" class="text-center">Kalorie łącznie: <b>{{arrayWithId.kcal}} kcal</b></p>
    </div>
    <div class="col-12 p-0">
      <p *ngIf="isThereUser() && meal.length !== 0" class="textTable text-center mt-4 mb-4">Dodane posiłki</p>

      <table *ngIf="isThereUser() && meal.length !== 0" class="table table-striped text-center">
        <thead>
        <tr>
          <th scope="col">Ilość</th>
          <th scope="col">Nazwa</th>
          <th scope="col">Kalorie</th>
          <th scope="col">Szczegóły</th>
          <th scope="col">Opcje</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let myMeal of meal; index as i">
          <th scope="row">{{myMeal.amount}} g</th>
          <td>
            <p><b>
              {{myMeal.name}}
            </b></p>
          </td>
          <td>
            <p>
              <b>
                {{myMeal.kcal | number : '1.2-2'}} kcal
              </b>
            </p>

          </td>
          <td>
            <b style="cursor: pointer;" (click)="openSm(content, myMeal)">Wyświetl</b>
          </td>
          <td>
            <b style="cursor: pointer;" (click)="deleteUserMeal(myMeal)">Usuń</b>
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="meal.length === 0" class="textTable text-center mt-4 mb-4">
        <em>Brak dodanych posiłków.</em>
      </div>
    </div>
  </div>
  <div class="col-12 text-center">
    <button (click)="changeTypeOfDataBase('application')" class="btn btn-outline-dark mr-1 btnFir">Posiłek z <b>bazy</b>
    </button>
    <button (click)="navigate()" class="btn btn-outline-dark ml-1 btnFir"><b>Powrót</b></button>
  </div>
  <div *ngIf="typeOfDB!=null" class="col-12 foodDBContainer p-0 mt-5">
    <p class="text-center">
      <b *ngIf="typeOfDB==='application'">Szukaj z bazy aplikacji</b>
    </p>
    <div class="searchProduct d-flex justify-content-around">
      <input #element (input)="searchMeal(element)" class="form-control inputFood" type="text">
      <button class="btn btn-dark btnSec">Szukaj</button>
    </div>
    <div class="col-12 p-0 mt-5 containerForDB">
      <table class="table table-striped text-center">
        <thead>
        <tr>
          <th scope="col">Nazwa</th>
          <th scope="col">Kalorie na 100g</th>
          <th scope="col">Opcje</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let myMealDB of paginationArray; index as i">
          <th scope="row">
            {{myMealDB.name}}
          </th>
          <td>
            <b>{{myMealDB.kcal | number : '1.2-2'}} kcal</b>
          </td>
          <td>
            <b style="cursor: pointer;" (click)="openSm(adding, myMealDB)">Dodaj</b>
            <b style="cursor: pointer; margin-left: 5px;" (click)="openSm(content, myMealDB)">Szczegóły</b>
          </td>
        </tr>
        </tbody>
      </table>
      <nav aria-label="...">
        <ul class="pagination justify-content-center">
          <li style="cursor: pointer" [ngClass]="{'disabled' : page === 0}" class="page-item">
            <a (click)="otherPage(false)" class="text-dark page-link" tabindex="-1">Poprzednie</a>
          </li>
          <li class="page-item active">
            <a class="page-link" style="background-color: black; border: gray 1px solid">{{page + 1}}</a>
          </li>
          <li style="cursor: pointer" [ngClass]="{'disabled' : !isNext()}" class="page-item">
            <a (click)="otherPage(true)" class="text-dark page-link">Następne</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
