<!--
      NAV AND TITLE
    -->
<div class="containerForAtlas">
  <app-navb [navImage]='"/assets/welcome-page/bg4.jpg"' [category] = '"ATLAS"'></app-navb>
  <div class=" container-fluid boxAtlas">
  </div>
  <!--
      ATLAS
    -->
  <div *ngIf="openExer === false" class="row justify-content-center">


    <div class="col-sm-10 col-12 mt-5 p-2 p-sm-0">
      <div class="panelSport-options">
        <ul class="panelSport-list">
          <li  class="panelSport-pointList">
            <span class="underlineOption opt font-weight-bold">Ćwiczenia</span>
          </li>
        </ul>
      </div>
      <hr class="underline-sportPanel">
      <div [ngClass]="{'container--close': basicSportMenu[1].on === false}" class="row videos justify-content-center">
        <div class="col-12 exercisesCounter d-flex justify-content-between">
          <span>
            Znalezione ćwiczenia ({{counterExercises}}):
          </span>
          <div class="filterButton">
            <span (click)="filtersHidden = !filtersHidden">Filters</span>
          </div>
        </div>
        <div class="col-lg-9 col-12 order-1 order-lg-0 contForVideo">
          <div class="row rowExer">
            <div *ngFor="let exercise of exercises" class="col-lg-4 col-sm-6 col-12 exercise">
              <div class="panelExer">
                <div class="heart">
                  <i #element (click)="animationHeart(element, exercise._id)"
                     [ngClass]="{'fa-heart-active': exercise.favourite}"
                     class="fas fa-heart fa-sm"></i>
                </div>
                <div class="exercise-image">
                  <img [routerLink]="['/exercise', exercise._id]" class="imageProp" [src]=(imageAddress+exercise.image)
                       alt="">
                </div>
                <div [routerLink]="['/exercise', exercise._id]" class="exercise-muscles">
                  <em>{{exercise.type | uppercase}}</em></div>
                <div [routerLink]="['/exercise', exercise._id]" class="exercise-name">{{exercise.name | uppercase}}</div>
                <div [routerLink]="['/exercise', exercise._id]" class="lvl-exercise d-flex justify-content-around">
                  <div class="typeOfExer d-inline-block">
                    <i *ngIf="exercise.type === 'cardio'" class="fas fa-running"></i>
                    <i *ngIf="exercise.type === 'weight'" class="fas fa-dumbbell"></i>
                  </div>
                  <div class="video">
                    <i class="fas fa-film"></i>
                  </div>
                  <div *ngIf="exercise.rate.rate === 0" class="rateOfExer d-inline-block">
                    <i  class="far fa-star"></i> <em>Brak</em>
                  </div>
                  <div *ngIf="exercise.rate.rate > 0 " class="rateOfExer d-inline-block">
                    <i  class="far fa-star"></i> {{exercise.rate.rate | number: '1.1-2'}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row contForPagination">
            <ul class="pagination" style="cursor: pointer">
              <li class="page-item"><a class="page-link" (click)="pagination(false)">Poprzednie</a></li>
              <li class="page-item"><a class="page-link">{{page + 1}}</a></li>
              <li class="page-item"><a class="page-link" (click)="pagination(true)">Następne</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-11 order-0 order-lg-1 contForFilters">

          <div [ngClass]="{'filters--open': filtersHidden === false}" class="filters">
            <div class="contForMagnifier">
              <label for="search">Wyszukaj ćwiczenie:</label>
              <input #input (input)="changeSortType(input.value, 'name')" type="text" class="form-control magnifier"
                     placeholder="Wyszukaj..." id="search">
            </div>
            <div class="contForSort">
              <label for="part">Wybierz partię:</label>
              <select #sel (change)="changeSortType(sel.value, 'part')" class="form-control" id="part">
                <option [value]="''">Wszystko</option>
                <option [value]="'biceps'">Biceps</option>
                <option [value]="'triceps'">Triceps</option>
                <option [value]="'chest'">Klatka Piersiowa</option>
                <option [value]="'legs'">Nogi</option>
                <option [value]="'back'">Plecy</option>
                <option [value]="'fav'">Ulubione</option>
              </select>
            </div>
            <div class="contForSort">
              <label for="sort">Sortuj:</label>
              <select #sel1 (change)="changeSortType(sel1.value, 'sort')" class="form-control" id="sort">
                <option [value]="''">Zwyczajnie</option>
                <option [value]="'popular'">Popularność</option>
                <option [value]="'rate'">Ocena</option>
                <option [value]="'a-z'">Alfabetycznie A-Z</option>
                <option [value]="'z-a'">Alfabetycznie Z-A</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

