<!--
      NAV AND TITLE
    -->
<div class="containerForAtlas">
  <app-navb [navImage]='"/assets/welcome-page/bg4.jpg"' [category] = '"ATLAS"'></app-navb>
  <div class=" container-fluid boxAtlas">
  </div>
  <!--
      ATLAS
    -->
  <div *ngIf="openExer === false" class="row justify-content-center">


    <div class="col-sm-10 col-12 mt-5 p-2 p-sm-0">
      <div class="panelSport-options">
        <ul class="panelSport-list">
          <li  class="panelSport-pointList">
            <span class="underlineOption opt font-weight-bold">{{ "atlas.exercises" | translate}}</span>
          </li>
        </ul>
      </div>
      <hr class="underline-sportPanel">
      <div [ngClass]="{'container--close': basicSportMenu[1].on === false}" class="row videos justify-content-center">
        <div class="col-12 exercisesCounter d-flex justify-content-between">
          <span>
            {{ "atlas.exercises_found" | translate}} ({{counterExercises}}):
          </span>
          <div class="filterButton">
            <span (click)="filtersHidden = !filtersHidden">Filters</span>
          </div>
        </div>
        <div class="col-lg-9 col-12 order-1 order-lg-0 contForVideo">
          <div class="row rowExer">
            <div *ngFor="let exercise of exercises" class="col-lg-4 col-sm-6 col-12 exercise">
              <div class="panelExer">
                <div class="heart">
                  <i #element (click)="animationHeart(element, exercise._id)"
                     [ngClass]="{'fa-heart-active': exercise.favourite}"
                     class="fas fa-heart fa-sm"></i>
                </div>
                <div class="exercise-image">
                  <img [routerLink]="['/exercise', exercise._id]" class="imageProp" [src]=(imageAddress+exercise.image)
                       alt="">
                </div>
                <div [routerLink]="['/exercise', exercise._id]" class="exercise-muscles">
                  <em>{{exercise.type | uppercase}}</em></div>
                <div *ngIf="language === 'pl'" [routerLink]="['/exercise', exercise._id]" class="exercise-name">{{exercise.namePL | uppercase}}</div>
                <div *ngIf="language !== 'pl'" [routerLink]="['/exercise', exercise._id]" class="exercise-name">{{exercise.name | uppercase}}</div>
                <div [routerLink]="['/exercise', exercise._id]" class="lvl-exercise d-flex justify-content-around">
                  <div class="typeOfExer d-inline-block">
                    <i *ngIf="exercise.type === 'cardio'" class="fas fa-running"></i>
                    <i *ngIf="exercise.type === 'weight'" class="fas fa-dumbbell"></i>
                  </div>
                  <div class="video">
                    <i class="fas fa-film"></i>
                  </div>
                  <div *ngIf="exercise.rate.rate === 0" class="rateOfExer d-inline-block">
                    <i  class="far fa-star"></i> <em>{{ "atlas.empty" | translate}}</em>
                  </div>
                  <div *ngIf="exercise.rate.rate > 0 " class="rateOfExer d-inline-block">
                    <i  class="far fa-star"></i> {{exercise.rate.rate | number: '1.1-2'}}
                  </div>
                </div>
              </div>
            </div>
              <h5 *ngIf="exercises.length === 0" style="width: 100%; text-align: center">Brak ćwiczeń</h5>
          </div>
          <div class="row contForPagination">
            <ul class="pagination" style="cursor: pointer">
              <li class="page-item"><a class="page-link" (click)="pagination(false)">{{ "atlas.previous" | translate}}</a></li>
              <li class="page-item"><a class="page-link">{{page + 1}}</a></li>
              <li class="page-item"><a class="page-link" (click)="pagination(true)">{{ "atlas.next" | translate}}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-11 order-0 order-lg-1 contForFilters">

          <div [ngClass]="{'filters--open': filtersHidden === false}" class="filters">
            <div class="contForMagnifier">
              <label *ngIf="language === 'pl'" for="search">{{ "atlas.search" | translate}}:</label>
              <input *ngIf="language === 'pl'" #input (input)="changeSortType(input.value, 'name')" type="text" class="form-control magnifier"
                     placeholder="Wyszukaj..." id="search">
              <label *ngIf="language !== 'pl'" for="searchEn">{{ "atlas.search" | translate}}:</label>
              <input *ngIf="language !== 'pl'" #input (input)="changeSortType(input.value, 'name')" type="text" class="form-control magnifier"
                     placeholder="Search..." id="searchEn">
            </div>
            <div class="contForSort">
              <label for="part">{{ "atlas.part" | translate}}:</label>
              <select #sel (change)="changeSortType(sel.value, 'part')" class="form-control" id="part">
                <option [value]="''">{{ "atlas.part_category.0" | translate}}</option>
                <option [value]="'biceps'">{{ "atlas.part_category.1" | translate}}</option>
                <option [value]="'triceps'">{{ "atlas.part_category.2" | translate}}</option>
                <option [value]="'chest'">{{ "atlas.part_category.3" | translate}}</option>
                <option [value]="'legs'">{{ "atlas.part_category.4" | translate}}</option>
                <option [value]="'cardio'">Cardio</option>
                <option [value]="'back'">{{ "atlas.part_category.5" | translate}}</option>
                <option [value]="'abs'">{{ "atlas.part_category.7" | translate}}</option>
                <option [value]="'fav'">{{ "atlas.part_category.6" | translate}}</option>
              </select>
            </div>
            <div class="contForSort">
              <label for="sort">{{ "atlas.sort" | translate}}:</label>
              <select #sel1 (change)="changeSortType(sel1.value, 'sort')" class="form-control" id="sort">
                <option [value]="''">{{ "atlas.sort_category.0" | translate}}</option>
                <option [value]="'popular'">{{ "atlas.sort_category.1" | translate}}</option>
                <option [value]="'rate'">{{ "atlas.sort_category.2" | translate}}</option>
                <option [value]="'a-z'">{{ "atlas.sort_category.3" | translate}}</option>
                <option [value]="'z-a'">{{ "atlas.sort_category.4" | translate}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

