.sportPanelContainer {
  position: absolute;
  top: 60px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  font-family: 'Libre Baskerville', serif;
  overflow-x: hidden;
}

.col-12, .row {
  margin: 0;
  padding: 0;
}

.sportPanelTitle {
  margin-top: 20px;
  margin-left: 5px;
  font-size: 32px;
  font-weight: bold;
}

.panelSport-list {
  margin: 0;
  padding: 0;
}

.panelSport-pointList {
  display: inline-block;
  margin: 5px;
}

.underline-sportPanel {
  margin: 10px;
}

.opt {
  margin-left: 5px;
}

.theScaleOfDifficulty {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 20px;
  & .theScaleOfDifficulty-name {
    text-align: center;
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
  }
}

.description, .mistakes {
  width: 90%;
  margin: 0 auto;

  & .description-text {
    font-size: 16px;
    text-align: justify;
  }
}
.description-heading{
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
}
.video {

}
.contForVid {
  padding: 0 10px;
}
.video-box {
  background-color: black;
  height: 280px;
  border-radius: 10px;
}
.addExercise {
  text-align: center;
  margin: 80px 0;
  padding: 10px;
}
.addExercise-heading {
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
}
.addExercise-small {
  display: block;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
}
.addExercise-button {
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  background-color: #9c0000;
  border: black 2px solid;
  &:hover {
    background-color: #af0000;
  }
  &:focus, &:active{
    border: black 2px solid;
  }
}
.back-button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
@media(max-width: 600px) {
  .sportPanelTitle {
    font-size: 24px;
    margin-top: 10px;
  }
  .opt {
    font-size: 12px;
  }
  .panelSport-pointList {
    margin: 5px 3px;
  }
  .theScaleOfDifficulty {
    width: 200px;
    & .theScaleOfDifficulty-name {
      font-size: 12px;
    }
  }
  .video {
    & .video-box {

    }
  }
}
