<div class="container-lg container-fluid sportPanelContainer">
  <div class="row">
    <div class="col-12">
      <h2 class="sportPanelTitle">{{nameOfExercise}}</h2>
      <div class="panelSport-options">
        <ul class="panelSport-list">
          <li class="panelSport-pointList">
            <span class="opt">Główna partia mięsniowa: <b>{{muscle}}</b></span>
          </li>
        </ul>
      </div>
      <hr class="underline-sportPanel">
      <p class="theScaleOfDifficulty">
        <span class="theScaleOfDifficulty-name">Poziom trudności - {{lvlOfDifficulty}}</span>
        <ngb-progressbar
          class="theScaleOfDifficulty-bar"
          [type]="colorOfDifficulty" textType="white"
          [value]="scaleOfDifficulty"
          height="10px"
        >
        </ngb-progressbar>
      </p>
      <div class="video">
        <div class="video-box">

        </div>
      </div>
      <div class="description">
        <h5 class="description-heading">Prezentacja ćwiczenia</h5>
        <p class="description-text">
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque aut corporis culpa dignissimos ea est eveniet ex in ipsa ipsum iusto non nostrum, officiis perspiciatis provident quas ratione vitae?</span><span>Alias delectus ea iure soluta voluptate. Accusantium adipisci assumenda dicta et, harum hic labore nisi numquam omnis praesentium provident quaerat quas qui repellendus repudiandae vel vero! Consequatur iusto maiores repudiandae.</span>
        </p>
      </div>
<!--      <div class="mistakes">-->
<!--        <h5 class="mistakes-heading">Najczęstsze błędy</h5>-->
<!--        <p class="mistakes-text">-->
<!--          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi debitis dolor est iusto necessitatibus placeat tenetur veritatis. Ad aperiam, at eveniet ex laboriosam nesciunt nihil odit pariatur quia quos, reiciendis!</span><span>Deleniti deserunt exercitationem vitae. Asperiores facilis id nesciunt omnis praesentium quasi, quia. Aspernatur, consequuntur enim eveniet facere illum inventore iusto totam. Beatae consequuntur dicta eveniet iure possimus tempore temporibus vero!</span>-->
<!--        </p>-->
<!--      </div>-->
        <div class="addExercise">
          <h5 class="addExercise-heading">Dodaj ćwiczenie do Dziennika Aktywności</h5>
          <small class="addExercise-small">Szacowane spalone kcal wykonując 15 min ćwiczenia: {{kcal15min}}kcal</small>
          <button class="btn btn-dark addExercise-button">Dodaj</button>
        </div>
      <button class="btn btn-dark back-button">Inne ćwiczenie</button>
    </div>
  </div>
</div>
