<app-navb></app-navb>
<div class="boxForAuth">
  <div class="auth-cont">
    <div class="title">
      <h2 class="title-text">{{ "auth.panel" | translate }} <img height="42px" src="assets/logo/aa.png" alt=" "> {{ "auth.login" | translate }}</h2>
    </div>
    <div class="change__mode">
      <span
        (click)="signup = false"
        [ngStyle]="{'color' : !signup ? '#9c0000' : 'white'}"
        class="change__mode-login">{{ "auth.log" | translate }}</span>/<span
      (click)="signup = true"
      [ngStyle]="{'color' : signup ? '#9c0000' : 'white'}"
      class="change__mode-reg">{{ "auth.reg" | translate }}</span>
    </div>
    <form autocomplete="off" [formGroup]='signinForm' (ngSubmit)="onSubmit()" class="auth__box">
      <div class="form-group">
        <label
          #emailLabel
          for="email"
          class="form__label"
          [ngClass]="onFocus('email')">Email</label>
        <input
          (focus)="focusonEmail = true"
          (blur)="focusonEmail = false"
          type="text"
          class="form__control form__input"
          id="email"
          formControlName="email">
      </div>
      <div class="form-group">
        <label
          #passwordLabel
          for="password"
          class="form__label"
          [ngClass]="onFocus('password')">Password</label>
        <input
          (focus)="focusonPassword = true"
          (blur)="focusonPassword = false"
          type="password"
          id="password"
          class="form__control form__input"
          formControlName="password">
      </div>
      <div class="button-gr d-flex justify-content-center">
        <button
          type="submit"
          class="btn btn-light login"
          [disabled]="signinForm.invalid"
        >{{signup ? ("auth.signup" | translate) : ("auth.signin" | translate) }}</button>
      </div>
    </form>
    <p class="text-center">
      <span *ngIf="((this.signinForm.get('email').invalid && this.signinForm.get('email').touched) ||
      (this.signinForm.get('password').invalid && this.signinForm.get('password').touched ) ) " class="form__info mr-1">{{ "auth.invalid_1" | translate }}</span>
      <span *ngIf="authFailed" class="form__info">
      {{ "auth.invalid_2" | translate }}
    </span>
    </p>
    <div class="info">
      Pietras Marcin &copy;, Inżynieria Oprogramowania 2021
    </div>
  </div>
</div>
