.food-panel {
  position: absolute;
  z-index: 0;
  left:0;
  top: 60px;
  right: 0;
  overflow: auto;
  bottom: 70px;
}
.row {
  margin: 0;
}
.contForMeal {
}
.col-12 {
  position: relative;
}
.col-6 {
}
.setDate {
}
.calendar {
  display: inline-block;
  & .date {
    height: 30px;
    border-radius: 0;
    font-size: 16px;
    border: 0;
    cursor: pointer;
    border-bottom: 2px solid black;
    color: black;
    margin-bottom: 10px;
  }
}
.currentDay {
  display: block;
  font-size: 16px;
  line-height: 24px;
  padding-right: 0;
}
.dataGroup {
  width: 100%;
}

//meal

.col-lg-4 {
  padding: 0;
}
.meal {
  margin:30px 20px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}
.mealName {
  font-weight: bold;
  font-size: 24px;
  position: relative;
  &:after {
    position: absolute;
    content: '';
    left:0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: black;
  }
}
.macronutrients {
  font-size: 20px;
}
.basicStat {
  background-color: white;
  border: 1px solid black;
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
}
.part {
  width: 25%;
  height: 100%;
  display: inline-block;
  padding: 0 10px;
}
.barName {
  font-weight: bold;
}
.barValue {

  font-size: 14px;
}
@media(max-width: 500px) {
  .part {
    padding: 0 5px;
  }
  .barName {
    font-size: 12px;
  }
}
@media(max-width: 400px) {
  .part {
    padding: 0 5px;
  }
  .barName {
    font-size: 10px;
  }
}
