// DATE PANEL

// NAVIGATION
.boxForNav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100vw;
  background-color: black;
}

// FOOD PANEL - BOX
.boxForFoodPanel {
  position: relative;
  height: 100vh;
}
// DATE
.datePanel {
  position: absolute;
  height: 50px;
  width: 100%;
  font-family: 'Libre Baskerville', serif;
  background-color: white;
  border-bottom: 3px solid #c9c9c9;
}

.datePanel-day {
  display: inline-block;
  width: 80px;
  text-align: center;
  cursor: pointer;

  &:hover .datePanel-date {
    opacity: 0;
    line-height: 1px;
  }

  &:hover .datePanel-name {
    line-height: 45px;
    transform: scale(1.3);
  }
}

.datePanel-date, .datePanel-name {
  display: block;
  line-height: 25px;
  transition: .2s all linear;
}

.datePanel-date {
  font-size: 22px;
}

.datePanel-name {
  font-size: 12px;
}

.arrow {
  line-height: 40px;
  cursor: pointer;
}

// MEAL PANEL

.meal-panel {
  font-family: 'Libre Baskerville', serif;
  position: absolute;
  top: 113px;
  bottom: 40px;
  width: 100%;
  background-color: rgb(28, 30, 32);
  margin: 0;
  overflow: auto;
}

.meal-list {
  margin: 0;
  padding: 0;
}

.meal {
  height: calc((100vh - 153px) / 8) !important;
  min-height: 70px;
  border-radius: 0;
  padding: 0 10px;

}

.nameOfMeal {
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-align: center;
  letter-spacing: 1px;
  line-height: calc((100vh - 153px) / 16);
  cursor: pointer;
}

.cont {
  width: 100%;
  line-height: calc((100vh - 153px) / 16);
  font-size: 16px;
}

.contForBasicInfoOfMeal {
  display: inline-block;
  cursor: pointer;
}

.kcalOfMeal, .macroOfMeal {

}

.contForMealButtons {

}

// product list

.listOfProducts {

}

.add-product {
  cursor: pointer;
}

.listOfProducts {

}

.list-prod {
  padding: 0;
  margin: 0;
  max-height: 300px;
  transition: 0.3s linear max-height;
  overflow: auto;
  background-color: white;
}

.list-prod--close {
  max-height: 0;
  transition: 0.3s linear max-height;
}

.product {
  margin-bottom: 1px;
  padding: 5px;
  background-color: #e8e8e8;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}

.product-name {
  display: block;
  text-align: center;
}

.product-portion {
  display: block;
  text-align: center;
  font-size: 13px;
}

.product-macro {
  font-size: 13px;
  padding-left: 5px;
}

.product--delete {
  position: absolute;
  right: 5px;
  top: 0;
}

// PROGRESS BARS

.basicStat {
  position: fixed;
  bottom: 0;
  height: 40px;
  line-height: 25px;
  width: 100%;
  border-top: 3px solid #c9c9c9;
  background-color: #dedede;
  font-family: 'Libre Baskerville', serif;
}

.barName {
  letter-spacing: 1px;
}

.barValue {
  font-size: 14px;
}

.part {
  width: 25%;
  height: 100%;
  display: inline-block;
  padding: 0 20px;
}

@media(max-width: 400px) {
  .part {
    padding: 0 5px;
  }
  .barName {
    font-size: 10px;
  }
}

@media(max-width: 500px) {
  .part {
    padding: 0 5px;
  }
  .barName {
    font-size: 12px;
  }
  .headline {
    font-size: 20px;
  }
}

@media(max-width: 800px) {
  .nameOfMeal {
    font-size: 16px;
  }
  .kcalOfMeal, .macroOfMeal {
    font-size: 12px;
  }
  .contForMealButtons {
    transform: scale(0.8);
  }
  .meal {
    padding: 5px 10px;
  }
}
