<div class="food-panel">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center m-1 mt-2  headline">Panel odżywiania
      </h3>

      <div class="setDate text-center font-weight-bold mb-1">
        <div class="dateLeft mr-1 d-inline-block"><</div>
        <div class="date d-inline-block">15.08</div>
        <div class="dateRight ml-1 d-inline-block">></div>
        <!--        <div class="calendar">-->
        <!--          <input type="date" id="date" class="form-group date" [value]=date [max]=maxDate [min]=minDate>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
  <div class="row nameOfMeals">
    <div class="listOfMeals">
      <select class="form-control font-weight-bold" id="meals">
        <option class="">Śniadanie</option>
        <option class="">Śniadanie II</option>
        <option class="">Lunch</option>
        <option class="">Obiad</option>
        <option class="">Przekąska</option>
        <option class="">Kolacja</option>
      </select>
    </div>
  </div>
  <hr>
  <!--  <div class="row contForMeal ">-->
  <!--    <div *ngFor="let meal of meals" class="col-lg-4 col-sm-6 col-12 test">-->
  <!--      <div class="meal">-->
  <!--        <div class="basicInfo-meal mb-3 d-flex justify-content-between">-->
  <!--          <span class="mealName">{{meal.name}}</span>-->
  <!--          <span class="mealKcal"><em>113 kcal</em></span>-->
  <!--        </div>-->
  <!--        <div class="proteins macronutrients text-center">-->
  <!--          Białko - 0g-->
  <!--        </div>-->
  <!--        <div class="carb macronutrients text-center">-->
  <!--          Węglow. - 0g-->
  <!--        </div>-->
  <!--        <div class="fats macronutrients text-center">-->
  <!--          Tłuszcze - 0g-->
  <!--        </div>-->
  <!--        <div class="button-group text-right mt-3 d-flex justify-content-between">-->
  <!--          <button *ngIf="meal.delete" class="btn btn-danger">Usuń</button>-->
  <!--          <button (click)="openConfiguration()" class="btn btn-dark">Personalizuj</button>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="row m-0 p-0 panel-button">-->
  <!--    <div class="col-12 m-0 p-0 mt-2 text-center">-->
  <!--      <button class="btn btn-secondary" (click)="dailyStatistics()">Statystyki</button>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  <!--  <button (click)="openConfiguration()" class="btn btn-dark">Personalizuj</button>-->
  <div class="row info">
    <div class="col-lg-6 col-12 board">
      <h3 class="text-center mt-3 mb-2">Posiłek</h3>
      <span class="howManyMeals">3 posiłki</span>
      <div class="meals">
        <ul class="foodList foodListUser">
          <li class="d-flex justify-content-between point" *ngFor="let foodUser of foodsUser">
            <span><em>{{foodUser.kcal}}kcal</em></span>
            <span>{{foodUser.name}}</span>
            <button class="btn">X</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 col-12 ">
      <h3 class="text-center mt-3 mb-2">Szukaj</h3>

      <input type="text" placeholder="Szukaj..." class="form-control inputMeal mb-3 mt-2">
      <div class="meals">
        <ul class="foodList foodListDb ">
          <li *ngFor="let foodDb of foodsDb" class="d-flex justify-content-between point">
            <span>{{foodDb.name}}</span>
            <button class="btn">+</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 chart">
      <h3 class="text-center mt-2 mb-2 mealKcal">
        1113 kcal
      </h3>
      <canvas baseChart height="150px" width="250px" style="margin: 0 auto"
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [colors]="pieChartColors"
              [legend]="pieChartLegend">
      </canvas>
      <div class="text-center">
        <button (click)="stat = !stat" class="btn btn-outline-dark m-2">Szczegóły</button>
        <button class="btn btn-secondary" (click)="dailyStatistics()">Statystyki</button>
      </div>
    </div>
  </div>
  <div class="basicStat text-center">
    <div *ngFor="let bar of bars" class="part ">
      <span class="barName">{{bar.name}}</span>
      <ngb-progressbar class="bar kcal" type="success" textType="white" [value]="25"
                       [showValue]="true"></ngb-progressbar>
      <span class="barValue"><em>{{bar.current}}/{{bar.max}}</em></span>
    </div>
  </div>
  <app-add-food-panel></app-add-food-panel>
  <div [ngClass]="{'moreInfo-close': stat === false}" class="moreInfo text-center">
    <span class="bigText">Śniadanie 09.08.2020</span>
    <p>
      <span>Kcal</span>
      <ngb-progressbar type="secondary" textType="white" [value]="25" [showValue]="true"></ngb-progressbar>
    </p>
    <p>
      <span>węglowodany</span>
      <ngb-progressbar type="secondary" textType="white" [value]="25" [showValue]="true"></ngb-progressbar>
    </p>
    <p>
      <span>białko</span>
      <ngb-progressbar type="secondary" textType="white" [value]="25" [showValue]="true"></ngb-progressbar>
    </p>
    <p>
      <span>tłuszcze</span>
      <ngb-progressbar type="secondary" textType="white" [value]="25" [showValue]="true"></ngb-progressbar>
    </p>
    <div class="buttons text-right">
      <button (click)="stat = !stat" class="btn btn-outline-dark m-2">Powrót</button>
    </div>
  </div>
