<div class="food-panel">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center m-3">Panel odżywiania
      </h3>

      <div class="setDate text-center">
        <div class="calendar">

          <input type="date" class="form-group date" [value]=date [max]=maxDate [min]=minDate>
          <h5 class="currentDay">Wybierz datę - wtorek</h5>
        </div>
      </div>

    </div>
  </div>
  <div class="row contForMeal ">
    <div *ngFor="let meal of meals" class="col-lg-4 col-sm-6 col-12 test">
      <div class="meal">
        <div class="basicInfo-meal mb-3 d-flex justify-content-between">
          <span class="mealName">{{meal.name}}</span>
          <span class="mealKcal"><em>113 kcal</em></span>
        </div>
        <div class="proteins macronutrients text-center">
          Białko - 0g
        </div>
        <div class="carb macronutrients text-center">
          Węglow. - 0g
        </div>
        <div class="fats macronutrients text-center">
          Tłuszcze - 0g
        </div>
        <div class="button-group text-right mt-3 d-flex justify-content-between">
          <button *ngIf="meal.delete" class="btn btn-danger">Usuń</button>
          <button class="btn btn-dark">Personalizuj</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-0 p-0">
    <div class="col-12 m-0 p-0 mt-2 text-center">
      <button class="btn btn-success mr-2" (click)="addNewMeal()">Nowy Posiłek</button>
      <button class="btn btn-secondary" (click)="dailyStatistics()">Statystyki</button>
    </div>
  </div>
</div>
<div  class="basicStat text-center">
  <div *ngFor="let bar of bars" class="part ">
    <span class="barName">{{bar.name}}</span>
    <ngb-progressbar class="bar kcal" type="success" textType="white" [value]="25" [showValue]="true"></ngb-progressbar>
    <span class="barValue"><em>{{bar.current}}/{{bar.max}}</em></span>
  </div>

</div>
<app-add-food-panel></app-add-food-panel>
