<nav class="d-flex align-content-center flex-wrap">
  <div class="row contForAll d-flex justify-content-between">
    <div class="logo-wrapper">
      <div class="image-wrapper">
        <img class="image d-flex align-content-center flex-wrap" src="assets/logo/aa.png" alt="NFC"
             (mouseenter)="rotateImage = true" (mouseout)="rotateImage = false"
             [ngClass]="{'rotateImage': rotateImage}">
        <div class="logo_txt d-flex align-content-center flex-wrap"><span (mouseenter)="rotateImage = true"
                                                                          (mouseout)="rotateImage = false">NFL Center</span>
        </div>
      </div>

    </div>
    <div [ngClass]="{'menu--open' : menuOpen === 1, 'menu--close' : menuOpen === 2}" class="contForMenu">
      <ul class="menu ">
        <li class="list"><a routerLink="/" class="link-list"
                            [ngStyle]="{'color' : selectRoute === 0 ? 'red' : 'white'}">HOME</a></li>
        <li class="list"><a routerLink="/food-panel" class="link-list" [ngStyle]="{'color' : selectRoute === 1 ? 'red' : 'white'}">PANEL ODŻYWIANIA</a></li>
        <li class="list"><a routerLink="/timeline-exercise" class="link-list" [ngStyle]="{'color' : selectRoute === 2 ? 'red' : 'white'}">DZIENNIK AKTYWNOŚCI</a></li>
        <li class="list"><a routerLink="/atlas" class="link-list" [ngStyle]="{'color' : selectRoute === 3 ? 'red' : 'white'}">ATLAS</a></li>
        <li class="list"><a routerLink="/bmi" class="link-list" [ngStyle]="{'color' : selectRoute === 4 ? 'red' : 'white'}">BMI</a></li>
        <li class="list"><a routerLink="/settings" class="link-list" [ngStyle]="{'color' : selectRoute === 5 ? 'red' : 'white'}">USTAWIENIA</a></li>
        <li class="list"><a routerLink="/authorisation" class="link-list joinToUs">DOŁĄCZ</a></li>
        <li class="list list-hamburger" (click)="menuOpen = 2"><a class="link-list link-list-hamburger">ZWIŃ</a>
        </li>
      </ul>
    </div>
    <div class="contForHamb" (click)="menuOpen = 1">
      <div class="box" >
      <div class="firstHamb"></div>
      <div class="secHamb"></div>
      <div class="centerHamb"></div>
      </div>
    </div>
  </div>
</nav>
