// dd0101
nav {
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  width: 100vw;
  height: 100px;
  z-index: 1;
  padding: 0 35px;
  font-weight: bold;
  letter-spacing: 2px;
}

.contForAll {
  line-height: 100px;
  width: 100%;
  margin: auto 0;
}

// logo settings

.image-wrapper {
  height: 60px;
  float: left;
}

.image {
  width: 60px;
  height: 60px;
  float: left;
  cursor: pointer;
}

.rotateImage {
  transition: all .3s linear;
  transform: rotate(360deg);
}

.logo_txt {
  color: white;
  padding-left: 10px;
  font-size: 34px;
  height: 60px;
  position: relative;

  & span {
    cursor: pointer;
  }
}

.logo-wrapper {
  max-height: 60px;
}

// menu

.contForMenu {
  height: 60px;
  display: flex;
  line-height: 60px;
}

@mixin hamb {
  position: absolute;
  background-color: white;
  height: 3px;
  width: 100%;
  left: 0;
}

.contForHamb {
  display: none;
  height: 30px;
  width: 30px;
  position: relative;
  text-align: center;
  margin-top: 20px;

  .box {
    position: relative;
    height: 25px;
    width: 25px;
    cursor: pointer;
  }
}

.firstHamb {
  @include hamb();
  top: 0;
}

.secHamb {
  @include hamb();
  bottom: 0;
}

.centerHamb {
  @include hamb();
  transform: translateY(-50%);
  top: 50%;

}

.menu {
  margin: 0;
  padding: 0;
}

.list {
  display: inline-block;
  margin: 0 20px;
}

.link-list {
  text-decoration: none;
  color: white;
  font-size: 14px;

  &:hover {
    color: #dd0101;
  }
}

.list-hamburger {
  display: none;
}

.listOther {
  position: relative;
  cursor: pointer;
  &:hover .menuOther {
    display: block;
  }
}

.menuOther {
  display: none;
  position: absolute;
  left: 100%;
  transform: translateX(-50%);
  list-style-type: none;
  cursor: default;
  margin: 0;
  padding: 5px 10px;
  text-align: left;
  background-color: #373737;
  border-radius: 10px;
}
.bmi, .air {
  height: 40px;
  line-height: 40px;
  font-size: 13px;

}
.air{
  padding-bottom: 10px;
}
.textOther {
  cursor: pointer;
  &:hover {
    color: #dd0101;
  }
}
.joinToUs {
  background-color: #dd0101;
  margin: 0;
  padding: 0 20px;
  border-radius: 20px;
  cursor: pointer;
  &:hover {
    background-color: #373737;
    color: white;
  }
}

.menu--close {
  animation: closeMenu linear .7s forwards;
}

.menu--open {
  animation: openMenu linear .7s forwards;
}
// kategoria
.naviagtion-title {
  font-family: 'Roboto Condensed', sans-serif;
  height: 155px;
  padding-top: 50px;
  letter-spacing: 2px;
  width: 100vw;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  z-index: 2;
}
@keyframes openMenu {
  0% {
    top: -500px;
  }
  80% {
    top: 0;
  }
  90% {
    top: -20px;
  }
  100% {
    top: 0;
  }
}

@keyframes closeMenu {
  0% {
    top: 0;
  }
  100% {
    top: -650px;
  }
}

@media all and (max-width: 1250px) {
  .contForHamb {
    display: block;
  }
  .contForMenu {
    width: 100vw;
    position: absolute;
    height: auto;
    top: -650%;
    left: 0;
  }
  .menu {
    z-index: 2;
    text-align: center;
    width: 100%;
    background-color: #373737;
  }
  .list {
    display: block;
  }
  .rotatedText {
    font-size: 12px;
  }
  .menuOther {
    position: static;
    left: 0;
    border-top: 1px solid #dd0101;
    border-bottom: 1px solid #dd0101;
    padding: 0px;
    border-radius: 0;
    text-align: center;
    transform: translateX(0);
  }
  .nav-panel-heading {
    height: 175px !important;
    background-color: #373737;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .navigation {
    height: 100px;
  }
  .naviagtion-title {
    height: 75px;
    padding-top: 10px;
    letter-spacing: 1px;
    width: 100vw;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
}

@media all and (max-width: 700px) {

  .image {
    margin-top: 5px;
    width: 50px;
    height: 50px;
  }

  .logo_txt {
    font-size: 29px;
    height: 60px;
  }
}

@media all and (max-width: 550px) {

  .image {
    margin-top: 10px;
    width: 40px;
    height: 40px;
  }

  .logo_txt {

    font-size: 23px;
    height: 60px;

    & span {
      display: none;
    }
  }
}
