.sportPanelContainer {
  position: absolute;
  top: 60px;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0%);
  height: calc(100vh - 60px);
  font-family: 'Libre Baskerville', serif;
  overflow-x: hidden;
}

.col-12, .row {
  margin: 0;
  padding: 0;
}

.sportPanelTitle {
  margin-top: 20px;
  margin-left: 5px;
  font-size: 40px;
  font-weight: bold;
}

.panelSport-list {
  margin: 0;
  padding: 0;
}

.panelSport-pointList {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  padding: 5px 0;
}

.underline-sportPanel {
  margin: 10px;
}

.underlineOption {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: -3px;
    bottom: -24px;
    height: 2px;
    background-color: #9c0000;
    transform: scale(0);
    animation: linear 0.3s underlineSec forwards;
  }
}

.exercisesCounter {
  color: gray;
  margin-top: 10px;
  margin-bottom: 20px;
}

.contForVideo, .contForFilters {

}
.contForFilters {

  margin-bottom: 50px;
}
.exercise {
  padding: 0;
  margin-bottom: 10px;
}

.exercise-image {
  width: 180px;
  height: 180px;
  background-color: black;
  margin: 0 auto;
}

.exercise-muscles, .exercise-name {
  width: 180px;
  margin: 0 auto;
}
.exercise-muscles {
  color: gray;
  font-size: 12px;
}
.exercise-name {
  margin-top: 10px;
}
.magnifier {
  background: url(src/assets/magnifier/search.png) no-repeat scroll 10px 10px;
  background-size: 15px;
  padding-left:35px;
}
.contForMagnifier {
  color: gray;
}
.contForSort {
  margin-top: 30px;
  color: gray;
}
.filterButton {
  display: none;
}

// wiedza ogólna
.containerForBod {
  text-align: center;
}
.body {
  display: inline-block;
  width: 304px;
  height: 340px;
  position: relative;
}
.partOfBody {
  position: absolute;
  cursor: pointer;
}
.selectPart {
  display: block;
}
.correctPart {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.front, .back {
  cursor: pointer;
}
.front {
}
.tileBody {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 20px;
  margin: 20px 0;
}

.biceps-one, .biceps-two {
  width: 30px;
  height: 13px;
  top: 60px;
}
.biceps-one {
  left: 80px;
}
.biceps-two {
  right: 80px;
}
.shoulders-one, .shoulders-two {
  width: 18px;
  height: 13px;
  top: 60px;
  z-index: 2;
}
.shoulders-one {
  left: 110px;
}
.shoulders-two {
  right: 110px;
}
.triceps-one, .triceps-two {
  width: 30px;
  height: 10px;
  top: 73px;
}
.triceps-one {
  left: 80px;
}
.triceps-two {
  right: 80px;
}
.forearm-one, .forearm-two {
  width: 40px;
  height: 21px;
  top: 60px;
}
.forearm-one {
  left: 40px;
}
.forearm-two {
  right: 40px;
}
.chest {
  z-index: 1;
  width: 55px;
  left: 125px;
  height: 53px;
  top: 63px;
}
.stomach {
  z-index: 1;
  width: 55px;
  left: 125px;
  height: 53px;
  top: 116px;
}
.quadriceps-one, .quadriceps-two {
  width: 30px;
  height: 41px;
  top: 180px;
}
.quadriceps-one {
  left: 118px;
}
.quadriceps-two {
  right: 118px;
}
.calf-one, .calf-two {
  width: 20px;
  height: 61px;
  top: 241px;
}
.calf-one {
  left: 123px;
}
.calf-two {
  right: 121px;
}
.hood-one, .hood-two {
  width: 20px;
  height: 11px;
  top: 57px;
}
.hood-one {
  left: 123px
}
.hood-two {
  right: 123px;
}
.back {
  width: 50px;
  height: 81px;
  left: 127px;
  top: 66px;
}
.gluteus {
  width: 57px;
  height: 30px;
  left: 124px;
  top: 147px;
}
@media(max-width: 991px) {
  .contForFilters {
    margin-bottom: 20px;
  }
  .filterButton {
    display: block;
    margin: 0;
    text-align: right;
  }
  .filters {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s linear all;
  }
  .filters--open {
    max-height: 280px;
  }
  .contForSort, .contForMagnifier {
    margin: 2px;
    font-size: 14px;
    display: inline-block;
  }
  //.contForMagnifier, .contForSort {
  //  display: inline-block;
  //}
}
.contForPagination{
  padding-top: 20px;
  position: relative;
}
.pagination {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.page-link {
  color: black;
}

.filterButton {
  span {
    cursor: pointer;
  }
}
@media(max-width: 600px) {
  .sportPanelTitle {
    font-size: 24px;
    margin-top: 10px;
  }
  .opt {
    font-size: 12px;
  }
  .panelSport-pointList {
    margin: 5px 3px;
  }
  .exercisesCounter {
    font-size: 14px;
  }
}

@media(max-width: 450px) {
  .exercise-image {
    height: 130px;
  }
  .exercise-muscles, .exercise-name, .exercise-image {
    width: 130px;
  }
  .exercise-name {
    font-size: 14px;
  }
  .container-lg {
    padding: 10px;
  }
}

@keyframes underlineSec {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
